.table-auto {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Добавлено для фиксированной ширины колонок */
}

.table-auto th, .table-auto td {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden; /* Добавлено для предотвращения переполнения */
  text-overflow: ellipsis; /* Добавлено для обрезки текста с многоточием */
  white-space: nowrap; /* Добавлено для предотвращения переноса текста */
}

.table-auto th {
  background-color: #f2f2f2;
  text-align: left;
}

.table-auto tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-auto tr:hover {
  background-color: #ddd;
}

.table-auto th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.overflow-x-auto {
  overflow-x: auto;
}

button:disabled {
  cursor: not-allowed;
}

/* Добавлено для фиксированной ширины колонок */
.table-auto th:nth-child(1), .table-auto td:nth-child(1) {
  width: 50%; /* Ширина для колонки Название */
}

.table-auto th:nth-child(2), .table-auto td:nth-child(2) {
  width: 10%; /* Ширина для колонки Рейтинг */
}

.table-auto th:nth-child(3), .table-auto td:nth-child(3) {
  width: 30%; /* Ширина для колонки Дата выхода */
}

.table-auto th:nth-child(4), .table-auto td:nth-child(4) {
  width: 10%; /* Ширина для колонки Тип */
}